<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a target="blank" href="<%= bookmark[:url] %>"> <%=bookmark[:title] %> </a> 
      <form action='/bookmarks/update' method='POST'>
        <button name='update' value='<%= bookmark[:title] %>'>Update <%= bookmark[:title] %></button>
      </form>
      <form action='/bookmarks/delete' method='POST'>
        <button name='delete' value='<%= bookmark[:title] %>'>Delete <%= bookmark[:title] %></button>
      </form>
    </li>
  <% end %>
</ul>

<form action='/bookmarks/new' method='POST'>
  Title: <input type='text' name='title'>
  URL: <input type='text' name='url'>
  <button type='submit' value='Submit'>Add</button>
</form>